# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
# SPDX-FileCopyrightText: 2019-present Rimedo Labs
#
# SPDX-License-Identifier: Apache-2.0

build/_output/*
build/build-tools
**/_output
*.DS_Store
coverage.txt
*.coverprofile
.idea
.vscode
*.o
*.a
.project
.cproject
.eclipse
.settings/

# Jenkins report files
*report*.xml
*coverage*.xml
*-output.out
vendor
venv